
// Variables
@import "variables";

body {
  background-color: $primary;
}

.content {
  max-width: 600px;
  margin: 1em auto auto;
}

.card {
  margin-bottom: 1em;
  //border: 1px solid #ddd;
}
.card-header {
  //font-weight: bold;
}
.pure-g {
  padding: .3em;
}

.menu {
  background-color: $dark;
}
.menu h1 {
  margin: 0 auto auto;
  color: $primary;
}

span.badge {
  border-radius: 20px;
  padding: 0.35em 0.9em 0.35em;
  border: 1px solid #4cae4c;
}

span.vote {
  background-color: white;
  cursor: pointer;
}

span.voted {
  background-color: #4cae4c;
  color: white;
}