
// Variables
@import "variables";

body {
  color: $black;
}

.content {
  max-width: 600px;
  margin: 1em auto auto;
}

.card {
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.pure-g {
  padding: .3em;
}

.menu  {
  background-color: $black;
  h1 a {
    text-decoration: none;
    color: inherit;
  }
  a {
    color: white;
    font-weight: 400;
  }
  ul {
    @media (min-width: 48em) {
      float: right;
    }
    a {
      color: $green;
    }
  }
}

span.badge {
  border-radius: 20px;
  padding: 0.35em 0.9em 0.35em;
  border: 1px solid $green;
  line-height: 2em;
}

span.vote {
  background-color: white;
  cursor: pointer;
}

span.voted {
  background-color: $green;
  color: white;
}